<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <title>User Form</title>
</head>

<body>
    <header class="container">
        <h1>User Update Form</h1>
    </header>
    <main class="container">
        <form action="/users/<%= user._id%>" method="post" class="flex">
            <input type="text" name="name" placeholder="name" value="<%= user.name %>">
            <input type="email" name="email" placeholder="email" value="<%= user.email %>">
            <input type="number" name="age" placeholder="age" value="<%= user.age %>">
            <textarea name="bio" id="" cols="30" rows="10"
                placeholder="Tell us more about you"><%= user.bio %></textarea>
            <input type="text" name="hobbies" placeholder="hobbies" value="<%= user.hobbies %>">
            <input type="submit" value="Update user " class="button-blue update-btn">
        </form>
    </main>
    <footer>

    </footer>
</body>

</html>